.DS_Store
.env
.env.local
.env.*.local
.envrc
*.log
*.pid
*.bak
node_modules/
backups/
datalar/
tenant_data/
Archive.zip
app.log
crash_history.log
wa-js/
wa-js-docker/seed-data/legal_agreements_pdf/*.pdf
theme/examples/customization-sider/node_modules/
theme/examples/template-antd/node_modules/
theme/
.vscode/
.git/
